@import url('pally.css');

/* My Styles */

img{
    width: 15em;
    height: 15em;
    position: relative;
    border-radius: 50%;
    margin: auto;
    
}
 
body{
    margin: 2em;
    font-family: 'Pally-Medium';
    color: #ffe0ac;

    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 100vh;
    background-color: #031500;
}

h1{
    text-transform: uppercase;
    letter-spacing: 5px;
}

p{
    margin: 0px 0px 30px;
    max-width: 50vw;
}

a{
    display: block;
    width: 100%;
    margin: 0 auto 10px;
    color: #fff;
    border: 3px solid #BC9047;
    border-radius: 3px;
    background-color: #BC9047;
    text-align: center;
    text-decoration: none;
    padding: 15px 0;
}

a:hover{
    color: #BC9047;
    background-color: #ffe0ac;
}